* {
  box-sizing: border-box;
}

html {
  /***base size***/
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* mobile */


.container{
  margin: 0 auto;
  width: 375px;
}

.topnav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: absolute;
}

.navlinks {
  display:flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: center;
}

.navlinks li {
  margin-left: 1rem;
}


a{
  /*** nav link color***/
  color: #C45036;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}



a.button {
  /***button style***/
  /* background-color: #FFFFFF; */
  border-color: #C45036;
  border-style: solid;
  border-width: .2rem;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
  /* padding: 1.25rem 10.3rem 1.25rem 10.3rem; /***for the button itself***/
  padding-bottom: 1.25rem;
  width: 33.8rem;
  padding-top: 1.25rem;
  text-align: center;
  white-space: nowrap;
  color: #C45036;
}

/*** a.button:hover {
  color: #D26526;
  background-color: #FFFFFF;
  border: #D26526 solid .35rem;
}***/

/* .button:last-child {
  /*** adjust buton spacing at the bottom to not double up on section padding***/
/*  margin-bottom: 1rem;
} */

section, footer, nav.topnav {
  /***general styles set brown, open sans font***/
  /* background-color: #FFFDFD;/***lighter white***/
  color: #494951;
  font-family: 'Open Sans', sans-serif;
  /* padding: 3.5rem 2rem; */
}

.section {
  /***general section style***/
  padding-bottom: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.testingimg{
  /***hifi testing image***/
  display: grid;
  grid-auto-columns: minmax(auto, 1.57rem);
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;

}

.testingquote{
  /***testing section results quote ffrom css grid***/
  align-self: center;
}

.testingexpl ul{
  /***testing section results grid***/
  grid-column-end: 3;
  grid-column-start: 1;
}

.actionitems {
  /***space in testing section on action items***/
  padding-top: 4.5rem;
}

.actionlist {
  /***space in testing section for action list***/
padding-bottom: 2.5rem;
padding-top: 1rem;
}

.actiontakeaway {
  /***user testing action takeaway***/
  padding-top: 2.5rem;
}

.listspacesmall {
  /***small space on top for list items***/
  padding-top: 1rem;
}

.listspacelarge {
  /***larger space on top for list items***/
  padding-top: 2rem;
}

footer {
  /***bottom footer***/
  background-color: #FBF3EE;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 3.5rem 2rem;
}

.center {
  /***centering objects***/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


.photospace {
  /***space around photo***/
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.icons img {
  /***social media icons in footer***/
  padding-right: 2.9rem;
  padding-top: 2rem;
  width: 20%;
  /* padding-bottom: 2rem; */
}

p.hello {
  /***"say hello!" in bottom nav bar***/
  color: #EB9A28;
  font-weight: bold;
}

h2.how {
  /***how did I get here? about page ***/
  color: #C45036;
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

h3.aboutPheadings {
  /*** space about 'about' page subeadings ***/
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 1rem;

}

p.project1Ptopspace {
  /***top space for p tag ***/
  padding-top: 2rem;
}

p.project1Pbottomspace {
  /***bottom space for p tag***/
  padding-bottom: 2rem;
}

.userstories li {
  /***user stories css grid***/
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 12fr;
  padding-left: 2rem;
}


nav.topnav {
  /*** top navigational styles***/
  font-size: 1.6rem;
  font-weight: bold;
  z-index: 1;
  /* background-color: #FFFDFD; */
}


.section:nth-child(odd){
  /***alternating background ***/
  background-color: #F9F6F6; /***light white***/
}

.section:nth-child(even){
  /***alternating background ***/
  background-color: #FFFFFF;/***darker white***/
}

img {
  /***general img tag styles***/
  display: inline-block;
  width: 100%;
}

video {
  /***video styles***/
  width: 100%;
}


p.designerrole {
  /***role, deliverable, tools, duration style***/
  padding-bottom: 1rem;
  padding-top: 2rem;
}

p, ul {
  /***general sizing & style for body text***/
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/*** p.designprocess {
  color: #D26526;
} ***/

h1.pagehead {
  /***yellow largest header***/
  color: #EB9A28;
  font-family: 'Noto Serif', serif;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 3.5rem;
  padding-top: 11rem;
}

h2.process {
  /*** discovery & research, info architecture, prototype & testing, visual design, conclusion ***/
  color: #EB9A28;
  font-family: 'Noto Serif', serif;
  font-size: 3.125rem;
  font-weight: bold;
  /* padding-top: 3.5rem; */
  padding-bottom: 0;
}

h3.stages, .problem, .solution, .process, .processoverview {
/*** user survey, comp analysis, user personas, etc ***/
color: #EB9A28;
font-family: 'Noto Serif', serif;
font-size: 2.5rem;
font-weight: bold;
padding-bottom: 3.5rem;
padding-top: 3.5rem;
}

.processlist li {
  /**orange bold process list***/
  color: #C45036; /*** red***/
}


.companalysisSMicons {
  /***pinterest, instagram, tumblr icons***/
  padding-top: 3.5rem;
  /* padding-right: 2rem; */
}

ul.companalysisSMicons {
  /***pinterest, instagram, tumblr icons***/
  text-align:center;
}

.companalysisSMicons li {
  /***pinterest, instagram, tumblr icons***/
  display: inline-block;
  padding-right: 1rem;
  width: 28%;
  /* padding-top: 3.5rem;
  padding-right: 2rem; */
}

p.intro {
  /***hero intro landing page***/
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

p.tagline {
  /***start with a mood, find inspiration...***/
  font-size: 1.6rem;
  /* padding-bottom: 3.4rem;*/
}

.quote {
  /***user story quote**/
  border-left: .4rem #D26526 solid;
  padding-left: 3rem;
}

.logo {
  max-width: 10rem;
  margin-left: -1.8rem;
}

.processlinkspace li {
  padding-bottom: .8rem;
}

.moodspirelanding {
  /***moodspire text on landing page***/
  color: #EB9A28;
  font-family: 'Noto Serif', serif;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1.9rem;
  padding-top: 3.5rem;
}

@media (min-width: 320px) {
  /***phone size iPhone 5/SE/Galaxy S9***/
  .container {
    width: 100%;
  }

  html {
    /***base size***/
    font-size: 9px;
  }

  .topnav {
    /* grid-column-gap: 7.8rem;*/
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  a.button {
    width: 31.8rem;
    border-width: .2rem;
  }

  .hihero {
    padding-bottom:22rem; /* 0 with leaf img*/
  }

  .colorpalette, .moodspirelogo, .aboutphoto, .gothic {
    width: 25rem;
  }

  .icons img {
    width: 8rem;
  }

  .abticonlist{
  /*** icons on about page***/
    padding: 0;
    text-align: center;
  }

  .iconlist li, .lasticonlist li{
    /*** icons on about page***/
    display: inline-block;
    padding-right: 2rem;
    padding-top: 2.5rem;
    width: 8rem;
  }

  .iconlist img {
    /**about me icons***/
    vertical-align: middle;
  }

  .surveyresults li{
    /***results of survey section***/
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .lasticonlist li {
    display: inline-block;
    padding-bottom: 0rem;
  }

  .aboutmebglight {
    background-color: #FFFFFF !important;
  }

  .aboutmebgdark {
    background-color: #F9F6F6 !important;
  }

  .companalysis {
    display: grid;
    grid-template-columns: 1fr;
  }

  .companalysisSMicons {
    grid-row-start: 2;
    padding-bottom: 2rem;
    padding-top: 0;
  }

  .companalysisSMicons li {
    width: 8rem;
  }

  .userpersonaphoto {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 31.9rem;
  }

  .infoarchitecturesection {
    display: grid;
    grid-template-columns: 1fr;
  }

  .userstories {
    grid-row-start: 3;
    padding-bottom: 2rem;
    padding-top: 0;
  }

  a.prototypebutton {
    margin-bottom: 3.5rem;
  }

  a.compabutton, a.userpersonabutton,
  a.userstoriesbutton, a.sitemapbutton,
  a.styleguidebutton {
    margin-bottom: 1rem;
  }

  .moodspirelogo, .logosketches {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .infoarchitecturesection {
    display: grid;
    grid-template-columns: 1fr;
  }

  .userstories {
    grid-row-start: 3;
    padding-bottom: 2rem;
    padding-top: 0;
  }

  .lastsketch {
    padding-bottom: 0;
  }

  a.userstoriesbutton {
    margin-top: 1rem;
  }

  .hifibutton {
    margin-top: 1rem;
  }

  .refinedhifimockupimg, video {
    width: 14.9rem;
  }


}


@media (min-width: 375px) {
  /***phone size***/
  .container {
    width: 100%;
    }

    html {
      /***base size***/
      font-size: 10px;
    }

  .section {
    padding-left: 5%;
    padding-right: 5%;
    }

  .topnav {
    /* grid-column-gap: 7.8rem;*/
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .aboutphoto {
    width: 35rem;
    }

  a.prototypebutton {
    margin-bottom: 3.5rem;
  }

  a.compabutton, a.userpersonabutton,
  a.userstoriesbutton, a.sitemapbutton,
  a.styleguidebutton {
    margin-bottom: 1rem;
  }

  .colorpalette, .gothic {
    width: 30rem;
  }

  a.hifibutton {
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }

  a.button {
    width: 33.8rem;
  }

  .hihero {
    padding-bottom:22rem;
  }

  .companalysisSMicons li {
    width: 9rem;
  }

  .userpersonaphoto {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 33.9rem;
  }

  a.backtotopbutton {
    margin-bottom: 1rem;
  }

  .refinedhifimockupimg, video {
    width: 15.9rem;
  }

}

@media (min-width:768px) {
  /***tablet***/
  .container {
    width: 100%;
  }

  html {
    /***base size***/
    font-size: 11px;
  }

  .topnav {
    /* top navigation style */
    display: grid;
    /* grid-column-gap: 29.8rem;*/
    grid-template-columns: 1fr 2fr;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }

  .navlinks {
    display:flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
    align-items: center;
  }

  .navlinks li {
    margin-left: 2rem;
  }


  .section{
    /*general section styles */
    padding-left: 10%;
    padding-right: 10%;
  }

  footer {
    padding-left: 10%;
  }

  .surveyresultsspace {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .surveyresults li{
    margin-bottom: 0rem;
  }


  .herolanding, .moodspireprojecthero, .heroheading,
  .roleoverview, .problemsolution, .userresearch,
  .companalysis, .userpersonas, .userpersonaquotebutton,
  .infoarchitecturesection, .userflowsstories, .userflowbutton,
  .prototypeandtestingsection, .visualdesign,
  .conclusionsection, .abouthero, .aboutindetail {
    /*sections that display grid*/
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .pagehead, .intro, .passionate,
  .pcompanalysis, .companalysistextbutton,
  .puserpersonas, .pinfoarchitecture, .puserflowsstories,
  .userstoriestextandbutton, .userflowtextandbutton,
  .sitemapandbutton, .pprototypeandtesting,
  .pcolors, .ptestingrefinements, .pagehead, .aboutPheadings,
  .pabouthero, .paboutdetailleft {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .whysurvey {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .userflowtextandbutton, .sitemapandbutton {
    grid-column: span 4;
  }

  .puserflowsstories {
    align-self: end;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .userflowbutton, .sitemapbutton {
    align-self: center;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .sitemapandbutton, .userflowtextandbutton {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4rem;
  }

  .infoarchitecturesection {
    grid-column-gap: 2rem;
  }

  .puserflowsstories {
    padding-bottom: 2rem;
  }

  .moodspirelanding, .heroheading, .tagline,
  .leftsidebutton, .roles, .problem, .solution,
  .process, .stages, .surveyresults, .userpersonaphoto,
  .keytakeawaytesting, .pvisualdesign,
  .moodspireexplanationlogo, .gothic, .phifimockups,
  .hifimockupsandbutton, .actionitems, .actionitems2,
  .actionitems3, .actionlist, .actiontakeaway, .psproutfulsitemap {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .heroheading, .moodspireexplanationlogo {
    /* align button and hero images with text in the center */
    align-content: start;
  }

  .deliverables, .centerbutton {
    grid-column-start: 2;
    grid-column-end: 3;
  }


  .tools, .duration, .rightbutton, .companalysisSMicons,
  .gridphotoright, .userstories, .userflowbutton{
    grid-column-start: 3;
    grid-column-end: 4;
  }


  .pproblem, .psolution, .surveytakeaway,
  .userpersonaquote, .testingevidence,
  .logosketches, .brandingprocess, .ptypography,
  .conclusionli, .pindetailright, .gridphotorightlarge,
  .moodspiremockup, .sproutfulsitemap {
    grid-column-start: 2;
    grid-column-end: 4;
  }

 .pproblem, .psolution, .userpersonaphoto,
 .userpersonaquotebutton, .problemsolved {
    padding-top: 3.5rem;
  }

  .userpersonaquotebutton {
    grid-column: span 2;
  }


  .userpersonabutton, .userpersonaquote {
    grid-column-start: 1;
  }

  .userpersonabutton {
    align-self: center;
  }

  .wireframe {
    grid-column-start: 2;
    grid-column-end: 3;
  }


  .majortakeawaylist {
    padding-top: 1.5rem;
  }

  .gridphotorightlarge, .moodspiremockup {
    justify-self: center;
  }

  .moodspiremockup {
    grid-row-start: 2;
  }

  .deliverables, .tools {
    grid-row-start: 1;
  }
  .pdeliverables, .ptools {
    grid-row-start: 2;
  }

  .quote, .surveytakeaway {
  border-left: .4rem #D26526 solid;
  padding-left: 3rem;
  }

  .wireframe {
    /***wireframe image ***/
    padding-top: 3rem;
  }

  .moodspirelogo {
    display: inline;
    padding-top: 3.5rem;
  }

  .testingimg{
    /***hifi testing image***/
    display: grid;
    grid-auto-columns: minmax(auto, 1.57rem);
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;

  }

  .testingquote{
    /***testing section results quote ffrom css grid***/
    align-self: center;
  }

  .testingexpl ul{
    /***testing section results grid***/
    grid-column-end: 3;
    grid-column-start: 1;
  }

  .icons img {
    /***social media footer icons ***/
    width: 8rem;
  }

  .companalysisSMicons li {
    display: block;
    justify-content: center;
    width: 8rem;
  }

  .companalysisSMicons {
    padding-top: 0;
  }

  .instagrampadding {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .testingimgpadding {
    padding-top: 4rem;
  }

  p.actiontakeaway {
    padding-top: 4rem;
  }

  .actionitems2, .actionitems3 {
    align-content: start;
  }

  p.surveytakeaway{
    align-self: center;
    padding-top: 0;
  }

  .wordassociation {
    padding-bottom: 8rem;
  }

  .photospace {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .logosketches {
    padding-bottom: 2rem;
  }

  .pcolors, .gothic  {
    padding-top: 2rem;
  }

  h3.colors {
    padding-bottom: 1rem;
  }

  h3.typography {
    padding-bottom: 2rem;
  }

  a.button {
    width: 16rem;
    white-space: pre-wrap;
  }

  .userflowbutton, .sitemapbutton {
    margin-top: 0;
  }

  .gothic, .moodspirelogo, .colorpalette, .wireframe {
    width: 100%;
  }

  a.hifibutton {
    margin-bottom: 3.5rem;
  }

  .aboutphoto {
    margin-top: -3.5rem;
  }


  .aboutspace {
    padding-top: 3.5rem;
  }

  .iconlist li, .lasticonlist li {
    width: 8rem;
    display: block;
    padding-top: 0;
    padding-bottom: 2.5rem;
  }

  .lasticonlist li {
    padding-bottom: 0;
  }

  .abticonlist {
    align-self: center;
    justify-self: center;
  }

  .abticonlistright{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;

  }

  .abticonlistfinal {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    align-self: center;
    justify-self: center;
  }

  .hihero {
    padding-bottom:22rem; /* 0 with leaf img*/
  }

  .workbuttonright {
    grid-column-start: 3;
  }

  a.backtotopbutton {
    margin-bottom: 1rem;
  }

  .refinedhifimockupimg, video {
    width: 25rem;
  }

}


@media (min-width: 1200px) {
  /***desktop size***/
  .container {
    width: 100%;
    background-color: white;
  }

  html {
    /***base size***/
    font-size: 11px;
  }

  .topnav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-column-gap: 32rem; */
    position: absolute;
    padding-left: 16%;
    padding-right: 16%;
  }


  .navlinks {
    display:flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
    align-items: center;
  }


  .section{
    padding-left: 16%;
    padding-right: 16%;
  }

  footer {
    padding-left: 16%;
    padding-right: 16%;
  }

  a.button {
    display: inline-block;
    width: 23rem;
  }


  .hifimockups, .testingrefinements, .aboutindetail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
  }

  .whysurvey {
    /* I created a user survey... */
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .testingimg {
    grid-column: span 2;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
  }

  .icons img {
    /***footer icons ***/
    width: 8rem;
  }


  .companalysisSMicons li {
    display: block;
    justify-content: center;
    width: 7rem;
  }

  a.userpersonabutton {
    margin-top: 0;
    align-self: start;
  }

  .colorpalette{
    padding-top: 0;
  }

  .pcolors {
    padding-top: 2rem;
  }

  .userflowbutton, .sitemapbutton {
    margin-top: 0;
  }

  .iconlist li, .lasticonlist li {
    display: inline-block;
    justify-content: center;
    width: 31%;
  }

  .refinedhifimockupimg, video {
    width: 22rem;
  }

}
