* {
  box-sizing: border-box;
}

html {
  /***base size***/
  font-size: 10px;
}

body {
  background-color: lavender;
}

.container{
  margin: 0 auto;
  width: 375px;
}

.logo {
  /***top right hand logomark***/
  clear:both;
  display: inline-block;
  float: left;
}

nav ul li {
  /***navigation links***/
  display: inline-block;
  float: right;
  padding-right: 1.6rem;
}

#abticonlist{
/*** icons on about page***/
text-align: center;
padding: 0;
}

.iconlist li {
  /*** icons on about page***/
  display: inline-block;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

#companalysis {
  text-align: center;
  padding: 0;
}

.companalysisSMicons li {
  display: inline-block;
  padding: 3.5rem 1rem 3.5rem 1rem;
}

a{
  /***link color***/
  color: #D26526;
  font-family: "Open sans", sans-serif;
  text-decoration: none;
}

a.button {
  /***button style***/
  background-color: #FFFFFF;
  border-color: #D26526;
  border-style: solid;
  border-width: .2rem;
  display: block;
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */ 
  padding: 1.25rem 10.3rem 1.25rem 10.3rem; /***for the button***/
  text-align: center;
  white-space: nowrap;
}

section, footer, nav.topnav {
  /***general styles set brown, open sans font***/
  /* background-color: #FFFDFD;/***lighter white***/
  color: #5D3C0E;
  font-family: "Open sans", sans-serif;
  /* padding: 3.5rem 2rem; */
}

.section {
  /* display: grid;
  grid-template-columns: 1fr; */
  /* padding: 3.5rem 2rem; */
  padding-left: 2rem;
  padding-right: 2rem;
}

.testingimg{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: minmax(auto 1.57rem);
  grid-gap: 2rem;
}

.testingquote{
  align-self: center;
}

.testingexpl ul{
  grid-column-start: 1;
  grid-column-end: 3;
}

.actionitems {
  padding-top: 2.5rem;
}

.actionlist {
padding-top: 1rem;
padding-bottom: 2.5rem;
}

.actiontakeaway {
  padding-top: 2.5rem;
}

footer {
  /***bottom footer***/
  background-color: #FBF3EE;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 3.5rem 2rem;
}

.center {
  /***centering objects***/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


.personas {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.icons img { /***social media icons in footer***/
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
  padding-right: 2.9rem;
}

p.hello {
  /***"say hello!" in bottom nav bar***/
  color: #EB9A28;
  font-weight: bold;
}

p.how {
  /***how did I get here? about page ***/
  color: #D26526;
  font-weight: bold;
  padding-bottom: 3.5rem;
}

nav.topnav {
  /*** top navigational styles***/
  font-size: 1.6rem;
  font-weight: bold;
}


.section:nth-child(odd){ /***alternating background ***/
  background-color: #FFFDFD; /***light white***/
}

.section:nth-child(even){ /***alternating background ***/
  background-color: #F9F6F6; /***darker white***/
}

img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

video {
max-width: 100%;
max-height: 100%
}

p.designerrole {
  /***role, deliverable, tools, duration style***/
  padding-bottom: 1rem;
  padding-top: 2rem;
}

p, ul {
  /***general sizing & style for body text***/
    font-size: 1.6rem;
    line-height: 2.4rem;
}

p.designprocess {
  color: #D26526;
}

h1.pagehead {
  /***yellow largest header***/
  color: #EB9A28;
  font-family: "Noto Serif", serif;
  font-size: 3rem;
  font-weight: bold;
  /* padding-bottom: 3.5rem; */
}

h2.process {
  /*** discovery & research, info architecture, prototype & testing, visual design, conclusion ***/
  color: #EB9A28;
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: bold;
  /* padding-top: 3.5rem; */
  padding-bottom: 0;
}

h3.stages, .problem, .solution, .process, .processoverview {
/*** user survey, comp analysis, user personas, etc ***/
color: #EB9A28;
font-family: "Noto Serif", serif;
font-size: 2.5rem;
font-weight: bold;
padding-bottom: 3.5rem;
padding-top: 3.5rem;
}

.processlist li {
  /**orange bold process list***/
  color: #D26526;
}

.processlist {
  padding-bottom: 3.5rem;
}

.surveyresults li {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

p.intro {
  /***hero intro landing page***/
  font-size: 2rem;
  /* padding-bottom: 3.5rem; */
}

p.tagline {
  /***start with a mood, find inspiration...***/
  font-size: 1.6rem;
  /* padding-bottom: 3.4rem;*/
}

@media (min-width: 600px) {
  /***phone size***/
  .container {
    width: 580px;
    }
}
